<h4>Please select how would you like to get two factor authentication code:</h4>

<ul>
  <li><%= link_to 'via Google Authenticator App', auth_two_factor_authentications_path %> (You need two-factor authentication app like <a href="https://support.google.com/accounts/answer/1066447?hl=en">google authenticator</a> in your phone)</li>
  <li><%= link_to 'via SMS', sms_two_factor_authentications_path %></li>
  <li><a href="#">via Email</a></li>
</ul>

