<nav class="navbar navbar-default">
  <div class="row topbar">
    <div class="col-lg-6 logo">
      <a href="/"><h1>Bloggr</h1></a>
    </div>
    <nav class="col-lg-6 text-right">
      <% if current_user %>
        <span>Welcome <%= current_user.email %></span>
        <span> | </span>
        <span><%=link_to "Log out", destroy_user_session_path, method: :delete %></span>
      <% else %>
        <span><%=link_to "Sign Up", new_user_registration_path %></span>
        <span> | </span>
        <span><%=link_to "Login", new_user_session_path %></span>
      <% end %>
    </nav>
  </div>
</nav>



